* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}

body {
  font-family: 'Inter', serif;
  height: 100%;
  width: 100%;
  background: gainsboro;
}

p {
  font-size: 20px;
  padding: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
}

h2 {
  padding-top: 3%;
  margin: auto;
  text-align: center;
}
